*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    top: 0;
    text-decoration: none;
    border: none;
    outline: none;
}
:root{
    --bodyColor:#D3D3D3;
    --mainElements:#A9A9A9;
    --mainElementsLighter:#d1cccc;
    --mainElementsLight:#bcb8b8;


    --mainTextGreen:#7CDF7C;
    --mainTextGreenDarker:#6cd56c;
    --mainTextGreenLighter:#92ec92;
    --mainTextGray:#808080;
    --mainTextGrayDarker:#6a6868;

    
    --active:#72c372;
    --invisible:rgba(255, 255, 255, 0);
}
@font-face {
    font-family: onifont;
    src: url(/oniSell/fonts/azarShiva.ttf);
}
body{
    background-color: var(--bodyColor);
}  
html { 
    font-size: 62.5%;
} 
.wholePage{
    background-color: var(--mainElementsLighter);
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    margin-top: 1.3vh;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    height: 400vh;
}
.advPageMargin{
    margin-top: 3.5vh !important;
}
.separator{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.12);
}

.menuBar{
    width: 98%;
    background-color: var(--mainElementsLight);
    height: 7vh;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    position: fixed;
    right: 1.7vh;
}
.menuA{
    padding: 1rem;
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    font-size: 20px;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
.menuA:hover{
    color: var(--mainTextGray);
    transition: all ease-in-out 0.2s;
}
.menuContainer{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.advBody{
    display: flex;
    width: 100%;
    background-color: #fff;
    height: 400vh;
    justify-content: space-between;
    direction: rtl;
    margin-top: 6vh;
}
.optionsSection{
    width: 20%;
    background-color: blue;
    position: fixed;
    height: 90vh;
    top: 8vh;
}
.advSection{
    background-color: red;
    width: 79%;
    margin-right: 22%;
}
