*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    top: 0;
    text-decoration: none;
    border: none;
    outline: none;
}
:root{
    --bodyColor:#D3D3D3;
    --mainElements:#A9A9A9;
    --mainElementsLighter:#d1cccc;
    --mainElementsLight:#bcb8b8;
    --mainElementGreen:#7CDF7C;
    --mainElementGreenDarker:#6cd56c;
    --mainElementGreenLighter:#92ec92;



    --mainTextGreen:#7CDF7C;
    --mainTextGreenDarker:#6cd56c;
    --mainTextGreenLighter:#92ec92;
    --mainTextGray:#808080;
    --mainTextGrayDarker:#6a6868;
    --mainTextGrayDarkest:#4f4c4c;
    --error:rgb(175, 26, 26);
    
    --active:#72c372;
    --invisible:rgba(255, 255, 255, 0);
}
@font-face {
    font-family: onifont;
    src: url(/oniSell/fonts/azarShiva.ttf);
}
body{
    background-color: var(--bodyColor);
}  
html { 
    font-size: 62.5%;
} 
.wholePage{
    background-color: var(--mainElementsLighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: auto;
    margin-top: 7.5vh;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.advPageMargin{
    margin-top: 3.5vh !important;
}
.separator{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.12);
}

.menuBar{
    margin: auto;
    width: 100%;
    background-color: var(--mainElementsLight);
    height: 7vh;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    position: fixed;
}
.menuA{
    padding: 1rem;
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    font-size: 2.9vh;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
.menuA:hover{
    color: var(--mainTextGray);
    transition: all ease-in-out 0.2s;
}
.menuContainer{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.advBody{
    display: flex;
    width: 100%;
    justify-content: space-between;
    direction: rtl;
    margin-top: 6vh;
}
.optionsSection{
    width: 20%;
    position: fixed;
    height: 90vh;
    top: 8vh;
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    font-size: 3.5vh;
    background-color: var(--mainElementGreenDarker);
    border-radius: 8px;
    overflow: hidden;
    padding: 1rem;
}
.advSection{
    width: 79%;
    margin-right: 22%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    row-gap: 1rem;
    align-items: center;
}
.adv{
    margin: auto;
    width: 49vh;
    max-width: 50vh;
    display: flex;
    direction: ltr;
    justify-content: space-between;
    align-items: center;
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    text-align: center;
    background-color: var(--mainElementGreenLighter);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.215);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.adv:hover{
    box-shadow: 7px 7px 8px 2px rgba(0, 0, 0, 0.247);
    background-color: var(--mainElementGreen);
    transition: all 0.2s ease-in-out;
}
.advImage{
    width: 20vh;
    height: 20vh;
}
.img{
    width: 20vh;
    height: 20vh;
}
.advTexts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vh;
    height: 20vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.description{
    font-size:1.8vh;
}
.title{
    text-align: center;
    color: var(--mainTextGrayDarkest);
    font-size: 2.3vh;
    width:25vh;
    height: 40%;
    direction: ltr;
    overflow: hidden;
}
.optionElement{
    display: block;
    color: var(--mainTextGrayDarkest);
    font-family: onifont;
    font-size: 3.5vh;
    text-align: center;
}
.priceInput{
    display: block;
    background-color: var(--mainElementsLight);
    width: 95%;
    margin: auto;
    height: 5vh;
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    font-size: 3vh;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
    padding-right: 1rem;
}
.priceInput:hover{
    transition: all ease-in-out 0.3s;
    background-color: var(--mainElementsLighter);
}
.priceInput:focus{
    transition: all ease-in-out 0.3s;
    background-color: var(--mainElementsLighter);
}
.divSelect{
    width: 100%;
    
}
.select{
    background-color: var(--mainElementGreenLighter);
    width: 95%;
    margin: auto;
    height: 4vh;
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    font-size: 2.5vh;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
    padding-right: 1rem;
}
.chosenCity{
    border-radius: 8px;
    border: 2px solid var(--mainTextGray);
    color: var(--mainTextGrayDarkest);
    font-family: onifont;
    font-size: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
}
.logo img{
    width: 100%;
    height: 100%;
}
.error{
    background-color: var(--mainTextGrayDarkest);
    width: 70%;
    padding: 5rem;
    border: 2px solid var(--mainTextGray);
    color: var(--error);
    font-family: onifont;
    font-size: 4vh;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 8px;
    text-align: center;
}