*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    top: 0;
    text-decoration: none;
    border: none;
    outline: none;
}
:root{
    --bodyColor:#D3D3D3;
    --mainElements:#A9A9A9;
    --mainElementsLighter:#d1cccc;
    --mainElementsLight:#bcb8b8;
    --mainElementGreen:#7CDF7C;
    --mainElementGreenDarker:#6cd56c;
    --mainElementGreenLighter:#92ec92;
    --errorElement:rgb(225, 165, 165);
    --mainElementGreenlighter:#bbeabb;
    --mainElementGreenlightest:#d1f0d1;

    --mainTextGreen:#7CDF7C;
    --mainTextGreenDarker:#6cd56c;
    --mainTextGreenLighter:#adecad;
    --mainTextGray:#808080;
    --mainTextGrayDarker:#6a6868;
    --errorText:rgb(191, 50, 50);
    
    --active:#A9A9A9;
    --invisible:rgba(255, 255, 255, 0);
}
@font-face {
    font-family: onifont;
    src: url(/oniSell/fonts/azarShiva.ttf);
}
body{
    background-color: var(--bodyColor);
    overflow-x: hidden;
}  
html { 
    font-size: 62.5%;
} 
.wholePage{
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}
.advForm{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    width: 50vw;
    color: var(--mainTextGreenDarker);
    font-family: onifont;
    font-size: 20px;
    border: 2px solid var(--mainElements);
}
.formElement{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--mainTextGreenDarker);
    font-family: onifont;
    font-size: 20px;
    background-color: var(--mainElementGreenlightest);
    border-radius: 10px;

}
.advInput{
    width: 90%;
    height: 4vh;
    padding: 1rem;
}
#text{
    height: 30vh;
    direction: rtl;
}
.divSelect{
    width: 70%;
    height: 5rem;
}
.select{
    background-color: var(--mainElementGreenlightest);
    width: 100%;
    height: 100%;
    font-family: onifont;
    font-size: 15px;
    background-color: var(--mainElementGreenlightest);
    border-radius: 10px;

}
.imageUpload{
    background-color: var(--bodyColor);
}