*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    top: 0;
    text-decoration: none;
    border: none;
    outline: none;
}
:root{
    --bodyColor:#D3D3D3;
    --mainElements:#A9A9A9;
    --mainElementsLighter:#d1cccc;
    --mainElementsLightest:#eeeaea;
    --mainElementsLight:#bcb8b8;
    --mainElementGreen:#7CDF7C;
    --mainElementGreenDarker:#6cd56c;
    --mainElementGreenLighter:#92ec92;
    --errorElement:rgb(225, 165, 165);

    --mainTextGreen:#7CDF7C;
    --mainTextGreenDarker:#6cd56c;
    --mainTextGreenLighter:#92ec92;
    --mainTextGrayLight:#979393;
    --mainTextGray:#808080;
    --mainTextGrayDarker:#6a6868;
    --errorText:rgb(191, 50, 50);
    
    --active:#A9A9A9;
    --invisible:rgba(255, 255, 255, 0);
}
@font-face {
    font-family: onifont;
    src: url(fonts/azarShiva.ttf);
}
body{
    background-color: var(--bodyColor);
    overflow-x: hidden;
}  
html { 
    font-size: 62.5%;
} 
.wholePage{
    background-color: var(--mainElementsLighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: auto;
    margin-top: 9.5vh;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.advPageMargin{
    margin-top: 3.5vh !important;
}
.separator{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.12);
}
.menuBar{
    margin: auto;
    width: 100%;
    background-color: var(--mainElementsLight);
    height: 7vh;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    position: fixed;
}
.menuA{
    padding: 1rem;
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    font-size: 2.9vh;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
.menuA:hover{
    color: var(--mainTextGray);
    transition: all ease-in-out 0.2s;
}
.menuContainer{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.pageBody{
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 5rem;
    padding-top: 3rem;
}
.left{
    width: 70%;
    border: 2px solid var(--mainTextGray);
    border-radius: 8px;
    padding: 3rem;
    height: 400vh;
}
.right{
    width: 20%;
    padding: 3rem;
    border-radius: 8px;
    background-color: var(--mainElementsLightest);
    border-radius: 8px;
    background-color: var(--invisible);
}
.userMenus{
    width: 20%;
    position: fixed;
    height: 80vh;
    background-color: var(--mainElementsLightest);
    top: 12.5vh;
    right: 6vh;
    font-family: onifont;
    font-size: 3.5vh;
    border-radius: 8px;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;

}
.UserSubMenu{
    width: 100%;
    border: 3px solid var(--bodyColor);
    color: var(--mainTextGrayDarker);
    font-family: onifont;
    font-size: 2.9vh;
    text-align: center;
    margin-top: 2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.activeMenu{
    border: 3px solid var(--mainTextGreen);
    color: white; 
    transition: 0.2s all ease-in-out;
    background-color: var(--mainElementGreenDarker);
}
.UserSubMenu:hover{
    border: 3px solid var(--mainTextGreen);
    transition: 0.2s all ease-in-out;
}
#logout{
    border: 3px solid var(--errorElement);
    color: var(--errorText); 
    transition: 0.2s all ease-in-out;
    margin-top: 40vh;
}
#logout:hover{
    color: white; 
    transition: 0.2s all ease-in-out;
    background-color: var(--errorText); 
}